.banner__postagem--container {
    background-image: url(/img/noticia--card.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
    height: 300px;
    position: relative;
    color: var(--cor--branco);
}

.banner__postagem--container::before {
    content: "";    
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #5f5c65a6;
}

.banner__postagem--conteudo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20%;
    height: 100%;
}

.banner__postagem--titulo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .banner__postagem--titulo {
        font-size: 1rem;
    }
    
    .banner__postagem--container {
        width: 100vw;
    }

}
