main {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "banner banner banner"
      "postagem postagem aside"
      "comentario comentario aside"
      "input input aside"; 
}

.banner__postagem--container { 
    grid-area: banner;
}
.postagem__container { 
    grid-area: postagem;
}
.aside__container { 
    grid-area: aside;
}

.comentarios__container {
    grid-area: comentario;
}

.comentario__container--input {
    grid-area: input;
}

.postagem__container {
    padding: 3rem 0rem 2rem 2rem ;
}

.postagem__container--conteudo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postagem__imagem {
    width: 100%;
    max-width: 100%;
    height: 544px;
    /* border-radius: 25px; */
    margin: 0 auto;
    display: block;
}

.postagem__texto {
    padding: 3.5rem 0;
    text-align: justify;
    font-size: 1.1rem;
    color: var(--cor--azul--cinza);
    overflow: hidden;
    /* width: 90% ; */
    height: 100%;
    line-height: 30px;
}

.postagem__texto--destaque {
    padding: 2rem 0;
    display: block;
    font-size: 1.7rem;
    color: var(--text--header);
    font-weight: 700;
}

.postagem__texto--destaqueLateral {
    padding-left: 2rem;
    margin: 2rem 0;
    display: block;
    border-left: 5px solid var(--cor--azul--claro);
}

.postagem__container--tags {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.postagem__container--tags {
    padding: 0 0 2rem 0;
}

.tags__icone {
    rotate: 90deg;
    font-size: 1.3rem;
    color: var(--cor--verde);
}

.tags__lista {
    display: flex;
    gap: 1rem;
}

.tags__link {
    color: var(--cor--azul--cinza);
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 500;
}

.tags__link:hover {
    color: var(--cor--branco);
    background-color: var(--cor--azul--medio);
    border-radius: 5px;
    transition: 250ms;
}

.more__news--container {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    margin: 3rem 0;
}

.more__news {
    text-decoration: none;
    width: 45%;
    color: var(--cor--azul--cinza);
    font-size: 1.01rem;
}

.more__news:hover {
    color: var(--cor--azul--medio);
}

.previous {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "seta tipo tipo"
    "seta titulo titulo";
    gap: 1rem;

}

.next {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "tipo tipo seta"
    "titulo titulo seta";
    gap: 1rem;
}

.fa-chevron-left,
.fa-chevron-right {
    grid-area: seta;
    align-self: center;
}

.more__news--tipo {
    grid-area: tipo;
}

.more__news--titulo {
    grid-area: titulo;
    font-weight: 400;
}

.more__news--right {
    justify-self: end;
    text-align: end;
}

@media screen and (max-width: 1260px) {
    .postagem__imagem {
        width: 100%;
    }

    .postagem__texto {
        /* padding: 3.5rem 4rem; */
    }

    .postagem__container--tags i {
        align-self: flex-start;
    }

    .tags__lista {
        flex-wrap: wrap;
    }

    .more__news--container {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    margin: 3rem 0;
    }

   

}

@media screen and (max-width: 1023px) {

    main {
        grid-template-columns: auto;
        grid-template-areas: 
        "banner "
        "postagem"
        "aside"
        "comentario"
        "input";  
    }

    .postagem__container {
        padding: 3rem 0;
    }

    .aside__container {
        width: 83%;
        /* padding: 0 3.5rem; */
        margin: 0 auto;
        margin-bottom: 2rem;
    }


}

@media screen and (max-width: 767px) {
    .postagem__container {
        width: 100vw;
    }

    .postagem__texto {
        /* padding: 1rem; */
    }
    
    .postagem__container--tags {
        padding: 2rem 0 .5rem 0;
        gap: .5rem;
    }

    .more__news--container {
        flex-direction: column;
        padding: 0 1rem;
        gap: 1.5rem;
    }

    .more__news {
        width: 100%;
    }

    .aside__container {
        /* padding: 0 1rem; */
    }

    

}