.avaliations {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 3rem;
  padding: 10rem 10rem;
  background-color: var(--cor--secundaria);
}

.number__avaliation {
  display: flex;
  align-items: center;
}

.number__avaliation svg {
  width: 60px;
  height: auto;
  stroke: var(--cor--principal);
}

.text__number__avaliation span {
  font-size: 3rem;
  font-weight: bold;
}

.container__numbers__avaliations {
  display: grid;
  grid-template-columns: 200px 200px;
}

.avaliation__people {
  width: 500px;
  background-color: var(--var--secundaria);
  padding: 2rem 2rem;
  border-radius: 10px;
}

.img__dentista__ava {
  width: 60px;
  border-radius: 50%;
}

.avaliation__people {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text__avaliation__people {
  display: flex;
  align-items: center;
  gap: 20px;
}
