.bw__card {
  position: relative;
}

.card__odonto {
  background: url("/img/odontoCard.png");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  filter: brightness(40%);
}

.subtitulo__bw__card {
  font-weight: 500;
  color: #ccc;
}

.text__bw__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.title__bw__odonto {
  font-size: 4rem;
  max-width: 100%;
  font-weight: bold;
  font-family: var(--font--primaria);
}

.text__bw__card p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
  width: 50%;
  margin: 0 auto;
  color: #ccc;
}

.span__bw__card {
  color: var(--cor--texto--principal);
  font-weight: bold;
}

.span__odonto__card {
  color: white;
  font-weight: 600;
}

.container__btn__bw {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container__btn__bw a {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.container__btn__bw a:nth-child(1) {
  background-color: var(--cor--texto--principal);
  border: 1px solid rgb(29, 29, 29);
}

.container__btn__bw a:nth-child(2) {
  background-color: transparent;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .bw__card {
    width: 100%;
  }

  .title__bw__odonto {
    font-size: 2rem;
  }

  .text__bw__card p {
    width: 100%;
  }

  .text__bw__card {
    padding: 0 1.3rem;
  }
}
