.equipe__bw {
  margin-top: 5rem;
  position: relative;
}

.title__equipe__bw {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  font-family: var(--font--primaria);
  color: white;
  position: absolute;
  padding-left: 4rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.card__equipe__bw {
  background: url("/img/CONHEÇA-A-BW-odonto.webp");
  width: 100%;
  height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img__equipe__bw {
}

.w-6 {
  width: 30px;
  color: var(--cor--principal);
  background-color: white;
  border-radius: 50%;
}

.container__text__equipe__bw {
  padding-left: 4rem;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 3rem;
}

.text__equipe__bw {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text__equipe__bw p {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  width: 400px;
  line-height: 35px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.btn__avaliation {
  text-decoration: none;
  background-color: var(--cor--principal);
  width: fit-content;
  color: white;
  padding: 1.5rem 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 4rem;
  border-radius: 2px;
}

/* .container__cards__equipe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}

.card__dentista1 {
  position: relative;
}

.text__card__dentista1 {
  position: absolute;
  top: 24%;
  left: 75%;
  border: 3px solid var(--cor--secundaria);
  padding: 1rem;
}

.text__card__dentista1 p {
  width: 200px;
}

.card__dentista2 {
  position: relative;
}

.text__card__dentista2 {
  position: absolute;
  top: 20%;
  right: 75%;
  border: 3px solid var(--cor--secundaria);
  padding: 1rem;
}

.text__card__dentista2 p {
  width: 200px;
} */

@media (max-width: 768px) {
  .equipe__bw {
    width: 100%;
  }

  .card__equipe__bw {
    background-color: var(--cor--secundaria);
    background-image: none;
  }
  .container__text__equipe__bw {
    padding: 0 1.3rem;
    width: 100%;
  }

  .title__equipe__bw {
    margin-top: 3rem;
    padding: 0 1.3rem;
  }
}
