.oral__problems {
  padding: 5rem 0;
  background-color: #f1f1f1;
}

.titleOralproblems,
.text__one__problem,
.text__two__problem,
.link__oral__problem {
  visibility: hidden;
}

.container__oral__problems {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 500px;
}

.bw__dentista1 {
  width: 400px;
  border-radius: 25px 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.text__oral__problems {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.text__oral__problems h2 {
  font-size: 2rem;
  line-height: 40px;
  font-family: var(--font--primaria);
}
.text__oral__problems p {
  width: 80%;
  line-height: 25px;
}

.text__two__problem {
  border-left: 5px solid var(--cor--texto--principal);
  padding-left: 1rem;
  color: #838383;
  font-weight: 500;
}

.link__oral__problem {
  text-decoration: none;
  background-color: var(--cor--texto--secundaria);
  color: white;
  width: fit-content;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  font-weight: 500;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .container__oral__problems {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 1.3rem;
  }

  .text__oral__problems {
    width: 100%;
    gap: 20px;
  }

  .bw__dentista1 {
    width: 100%;
  }
}
