header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  background-color: #f7f7f7;
}

.logo__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text__logo {
  color: var(--cor--texto--secundaria);
  font-weight: 400;
  font-family: var(--font--primaria);
}

.bw__text {
  font-weight: bold;
}

.logo__bw {
  width: 40px;
}

.container__menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}

.container__menu li a {
  text-decoration: none;
  color: var(--text--header);
  font-weight: 400;
}

.contato__btn__header {
  background-color: var(--cor--principal);
  padding: 1.5rem 2rem;
}

.contato__btn__header a {
  text-decoration: none;
  color: white;
}
